@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9fb;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
